<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Узнай погоду по своей локации" />
		<title>Погода</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	@font-face {
  		font-family: 'FiraCode';
  		src: url('/fonts/fira-code.ttf') format('ttf');
  		font-weight: normal;
  		font-style: normal;
  		font-display: swap;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body {
		display: flex;
		flex-direction: column;
		height: 100dvh;
		width: 100%;
		font-family: 'Fira Code Variable', monospace;
	}
</style>
